.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5rem);
  background-color: #eaeaea;

  &__card {
    max-width: 30rem;
    width: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f3f4;

    &__icon {
      width: 1.5rem;
    }
  }

  &__button {
    border: none;
    background-color: #007f3b;
    color: white;
    font-size: 1.1rem;
    padding: .5rem 1rem;
    width: 100%;
    border-radius: .25rem;
    cursor: pointer;
  }
}