.header {
  height: 5rem;
  position: relative;
  z-index: 2;

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    background-color: white;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 4px 1px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    z-index: -1;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    &__image {
      width: 4rem;
      height: 4rem;
    }

    &__text {
      font-size: 1.3rem;
      font-weight: 500;
      color: #007f3b;
    }
  }

  &__link {
    padding: .5rem 1rem;
    border: .12rem solid #e6e7ea;
    border-radius: .25rem;
    text-decoration: none;
    color: #4d5762;
    margin: 0 .5rem;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__services {
    position: relative;
    margin: 0 .5rem;

    &__selected {
      padding: .5rem 1rem;
      border: .12rem solid #e6e7ea;
      border-radius: .25rem;
      user-select: none;
      cursor: pointer;
      min-width: 12rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__text {
        color: #4d5762;
        text-decoration: none;
      }

      &__icon {
        width: 1rem;
        height: 1rem;
        transition: transform .2s;
      }
    }

    &__values {
      display: none;
      flex-direction: column;
      position: absolute;
      border: .12rem solid #e6e7ea;
      border-radius: .25rem;
      margin: .5rem 0;
      background-color: white;
      width: 100%;
    }

    &__item {
      text-decoration: none;
      padding: .5rem 1rem;
      color: inherit;

      &:not(:first-of-type) {
        background-color: #f2f2f2;
      }
    }

    &_active & {
      &__selected {
        &__icon {
          transform: rotate(-180deg);
        }
      }

      &__values {
        display: flex;
      }
    }
  }
}